<!DOCTYPE html>

<html>

<head>

    <title>Student List</title>

</head>

<body>

    <h1>Student List</h1>


    <a href="{% url 'add_student' %}">
        Add Student
    </a>


    <hr>


    {% for student in students %}

        <h3>{{ student.name }}</h3>

        <p>Age: {{ student.age }}</p>

        <p>Email: {{ student.email }}</p>

        <p>Course: {{ student.course }}</p>

        <p>Phone: {{ student.phone }}</p>

        <p>Address: {{ student.address }}</p>

        <hr>

    {% empty %}

        <p>No students found.</p>

    {% endfor %}


</body>

</html>